/* HEADER */
.header-announcement {
  background: #F9F0E5;
  margin-bottom: 31px;
}

.header-announcement-text {
  color: #565656;
  text-align: center;
  font-family: "Suisse Int'l";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.88px;
}

.header-announcement-text span::after {
  content: "|";
  padding: 0 10px;
}

.header-announcement-text span:last-child::after {
  content: "";
  padding: 0;
}

.header_logo {
  margin-bottom: 62px;
}

.header_content {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.header-comment {
  position: absolute;
  left: 0;
  bottom: -180px;
  z-index: 3;
  max-width: 416px;
  max-height: 172px;
  padding: 16px;
  background-color: #fff;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.08));
}

.comment-profile {
  display: flex;
  align-items: center;
  justify-content: start;
}

.comment-profile-avatar {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: #007aff;
  margin-right: 14px;
}

.comment-profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comment-profile-info {
  display: flex;
  align-items: center;
  justify-content: start;
}

.comment-profile-name {
  color: #676869;
  font-family: "Sofia Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.45px;
  margin-right: 20px;
}

.comment-profile-stars {
  width: 60px;
  height: 10px;
}

.comment-profile-text {
  color: #828282;
  font-family: "Suisse Int'l";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.22px;
  padding: 0 7px;
}

.comment-text {
  margin-top: 12px;
  color: #676869;
  font-family: "Suisse Int'l";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.48px;
  max-width: 377px;
}

.button-arrow {
  margin-left: 15px;
}

.header_content-left {
  max-width: 592px;
}

.header_content-title {
  color: #01005B;
  font-family: "Sofia Pro";
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 1.52px;
  margin-bottom: 32px;
}

.header_content-title-mobile {
  color: #01005B;
  text-align: center;
  font-family: "Sofia Pro";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 1.04px;
  display: none;
}

.header_list {
  max-width: 425px;
  margin-bottom: 40px;
}

.header_list-item {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
  color: #676869;
  font-family: "Sofia Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.45px;
}

.header_list-item:last-child {
  margin: 0;
}

.header_list-icon {
  margin-right: 10px;
}

.header_content-right img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* MAIN */
.main-section {
  position: relative;
}

.main-section-gradient {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 530px;
  width: 100%;
  background: linear-gradient(180deg, #F9F0E5 0%, rgba(249, 240, 229, 0.18) 43.05%, rgba(249, 240, 229, 0.00) 100%);
}
.main {
  position: relative;
  z-index: 2;
}

.companies_title {
  text-align: center;
  margin-top: 77px;
  color: #868787;
  text-align: center;
  font-family: "Sofia Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.6px;
}

.companies_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-bottom: 130px;
}

.companies_list-container {
  display: none;
}

.loungewear {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.loungewear-title {
  color: #01005B;
  font-family: "Sofia Pro";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  letter-spacing: 1.28px;
  margin-bottom: 74px;
}

.loungewear_list-item {
  display: flex;
  align-items: start;
  margin-bottom: 14px;
  flex-shrink: 0;
}

.loungewear_list-item:last-child {
  margin: 0;
}

.loungewear_item-icon {
  margin-right: 32px;
}

.loungewear_item-title {
  padding: 8px 0 14px 0;
  color: #01005B;
  font-family: "Sofia Pro";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  letter-spacing: 0.88px;
}

.loungewear-title-mobile {
  text-align: center;
  display: none;
  color: #01005B;
  text-align: center;
  font-family: "Sofia Pro";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 1.04px;
  max-width: 330px;
  margin-bottom: 25px;
}

.loungewear_item-text {
  max-width: 500px;
  color: #6C6C6C;
  font-family: "Sofia Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.45px;
}


.loungewear-buttons-phone,
.loungewear-buttons-phone .rating-phone {
  display: none;
}

.slider-title {
  margin-top: 12px;
  color: #676869;
  text-align: center;
  font-family: "Suisse Int'l";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.39px;
}

.swiper {
  max-width: 433px;
}

.self-improvement-section {
  padding-bottom: 100px;
  background-color: #F0EEEF;
}

.self-improvement {
  display: flex;
  justify-content: space-between;
}

.self-improvement-images {
  position: relative;
  max-width: 480px;
  max-height: 664px;
  margin: 83px 0 0 0;
}

.self-improvement-images .main-image {
  max-width: 100%;
  clip-path: inset(60px 10px 60px 60px);
}

.self-improvement-images .top-image, 
.self-improvement-images .bottom-image,
.self-improvement-images .bottom-image-phone {
  position: absolute; 
  max-width: 165px; 
  height: auto;
  z-index: 2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.self-improvement-images .top-image {
  top: 0;
  left: 0; 
} 

.self-improvement-images .bottom-image {
  bottom: 0;
  right: 0;
}

.self-improvement-content {
  max-width: 619px;
}

.self-improvement-title {
  color: #2A2996;
  font-family: "Sofia Pro";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 1.28px;
  margin-bottom: 30px;
  margin-top: 130px;
}

.self-improvement-title-mobile {
  display: none;
  color: #2A2996;
  font-family: "Sofia Pro";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 1.28px;
  margin: 40px 0 0 0;
}

.self-improvement-text {
  color: #6C6C6C;
  font-family: "Sofia Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.45px;
  margin-bottom: 20px;
}

.step_cards-section {
  padding: 75px 0;
  display: flex;
  justify-content: center;
}

.step_cards-title {
  color: #01005B;
  text-align: center;
  font-family: "Sofia Pro";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 1.28px;
  margin-bottom: 50px;
  width: 100%;
}

.step_cards {
  display: flex;
  gap: 41px;
  justify-content: center;
  margin-bottom: 56px;
}

.card {
  width: 346px;
  height: 321px;
  border-radius: 8px;
  background-color: #F0EEEF;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 35px;
}

.card-title {
  color: #01005B;
  text-align: center;
  font-family: "Sofia Pro";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.88px;
}

.card-text {
  color: #676869;
  text-align: center;
  font-family: "Sofia Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.45px;
  max-width: 275px;
}

.step_cards-section-buttons,
.responses-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.questions-buttons-phone {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  display: none;
}

.rating-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  display: none;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.reting-text {
  color: #828282;
  font-family: "Suisse Int'l";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.24px;
}

.fans-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 75px;
}

.fans-section-title {
  max-width: 631px;
  color: #01005B;
  text-align: center;
  font-family: "Sofia Pro";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  letter-spacing: 1.28px;
  margin-bottom: 40px;
}

.fans-section-text {
  max-width: 613px;
  color: #676869;
  text-align: center;
  font-family: "Sofia Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.45px;
  margin-bottom: 55px;
  padding: 0 23px;
}

.fans-section-images {
  gap: 5px;
  max-width: 1280px;
  margin-bottom: 40px;
}

.swiper-response {
  max-width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
}

.response-card {
  width: 100%;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  border: 1px solid #EAEAEA;
  background-color: #FFF;
  padding: 32px 37px;
  display: inline-block;
}

.profile {
  display: flex;
  align-items: start;
  margin-bottom: 12px;
}

.profile-avatar {
  width: 39px;
  height: 39px;
  background-color: #1C2E58;
  border-radius: 50%;
  margin-right: 14px;
}

.profile-name {
  color: #676869;
  font-family: "Sofia Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.45px;
}

.response-text {
  color: #676869;
  font-family: "Suisse Int'l";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.48px;
}

.questions-section {
  margin-bottom: 118px;
}

.questions {
  display: flex;
  justify-content: space-between;
}

.questions-left-block {
  max-width: 631px;
}

.question-title {
  color: #01005B;
  font-family: "Sofia Pro";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 1.28px;
  margin-bottom: 50px;
}

.questions-item {
  padding: 23px 0 29px 0;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question-text {
  color: #01005B;
  font-family: "Sofia Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.72px;
}

.question-button {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-button span {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #01005B;
  border-radius: 2px;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.questions-item.active .question-button {
  animation: spin 0.6s ease forwards;
}

.questions-item:not(.active) .question-button {
  animation: spin-reverse 0.6s ease forwards;
}

.questions-item:not(.active) .question-button .horizontal {
  transform: rotate(0deg);
}

.questions-item:not(.active) .question-button .vertical {
  transform: rotate(90deg);
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.question-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.question-answer-text {
  color: #676869;
  font-family: "Sofia Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.45px;
  padding: 10px 0 10px 0;
  max-width: 567px;
}

.questions-item.active .question-answer {
  max-height: 200px;
}

.questions-img {
  max-width: 430px;
  height: auto;
}

.impact-section {
  padding: 40px 0;
  background-color: #F0EEEF;
}

.impact-title {
  text-align: center;
  margin-bottom: 18px;
  color: #15005B;
  text-align: center;
  font-family: "Sofia Pro";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 1px;
}

.impact-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.impact-card {
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 45px;
}

.impact-card:nth-child(2) {
  border-left: 1px solid rgba(196, 196, 196, 0.50);
  border-right: 1px solid rgba(196, 196, 196, 0.50);
}

.impact-card-title {
  color: #15005B;
  text-align: center;
  font-family: "Sofia Pro";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.44px;
}

.impact-card-text {
  color: #15005B;
  text-align: center;
  font-family: "Sofia Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  letter-spacing: 0.42px;
}

/* FOOTER */
.footer-section {
  position: relative;
  padding-top: 84px;
}

.footer {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-title {
  text-align: center;
  color: #01005B;
  text-align: center;
  font-family: "Sofia Pro";
  font-size: clamp(26px, 2vw, 32px);
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  letter-spacing: 1.28px;
  margin-bottom: 30px;
}

.footer-text {
  max-width: 587px;
  text-align: center;
  color: #676869;
  text-align: center;
  font-family: "Sofia Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.45px;
}

.footer-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 58px 0;
  min-width: 320px;
}

.footer-img {
  max-width: 100%;
  min-width: 105px;
  height: auto;
}

.payment-methods {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 22px;
}

.advantages-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 85px;
}

.advantage-card {
  width: 210px;
  padding: 10px 23px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage-card:nth-child(2) {
  border-left: 1px solid rgba(196, 196, 196, 0.40);
  border-right: 1px solid rgba(196, 196, 196, 0.40);
}

.advantage-card-img {
  margin-right: 12px;
}

.advantage-card-text {
  color: #676869;
  font-family: "Sofia Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  letter-spacing: 0.42px;
}

.footer-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 508px;
  width: 100%;
  background: linear-gradient(0deg, #F9F0E5 0%, rgba(249, 240, 229, 0.18) 43.05%, rgba(249, 240, 229, 0.00) 100%);
}

.slider-for-phone {
  display: none;
}

/* CUSTOM STYLE SWIPER */
.custom-swiper-container,
.custom-swiper-gallery-container,
.custom-swiper-step_cards-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 25px;
}


.thumbs-slider {
  position: absolute;
  display: flex;
  justify-content: center; 
  align-items: center;
  overflow: hidden;
  bottom: 75px;
  left: 0;
  width: 100%;
}

.thumbs-slider .gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}


.gallery .swiper-slide {
  max-width: 31px;
  max-height: 32px;
}

.swiper-gallery .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 648px;
}

.swiper-gallery .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: fill; 
}

.thumbs-slider .swiper-slide-thumb-active {
  border: 2px solid #007aff;
  opacity: 1;
}

.thumbs-slider .swiper-slide {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; 
  opacity: 0.7;
  transition: opacity 0.3s;
  flex-shrink: 0; 
  width: auto; 
}

.thumbs-slider .swiper-slide img {
  width: 31px;
  height: 32px;
  object-fit: cover;
  border-radius: 5px;
}

.thumbs-slider .swiper-slide-thumb-active {
  opacity: 1;
  border: 2px solid #FFF;
  transform: scale(1.1);
  transition: transform 0.3s, opacity 0.3s;
}

.custom-swiper-response-container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  padding: 0 50px;
  margin-bottom: 63px;
}


.custom-swiper-company-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 55px;
}

.step_cards-swiper {
  width: 346px;
  overflow: hidden;
}

.swiper-gallery {
  width: 433px;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
  height: 300px;
}

.card.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 321px;
}

.swiper-company {
  width: 100%;
  max-width: 400px;
  height: 60px;
  margin: 20PX auto;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #676869 !important; 
}

.swiper-pagination-bullet {
  background-color: #000 !important;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}


.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
}

.swiper-response-prev,
.swiper-response-next,
.swiper-step_cards-prev,
.swiper-step_cards-next,
.swiper-gallery-prev,
.swiper-gallery-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.swiper-response-prev img,
.swiper-response-next img,
.swiper-gallery-prev img,
.swiper-gallery-next img,
.swiper-step_cards-prev img,
.swiper-step_cards-next img {
  width: 10px;
  height: 20px;
}

.swiper-button-prev {
  left: -50px;
}

.swiper-button-next {
  right: -50px;
}

.swiper-gallery-next {
  right: -20px;
}

.swiper-gallery-prev {
  left: -20px;
}

.swiper-step_cards-next {
  right: 0;
}

.swiper-step_cards-prev {
  left: 0;
}

.swiper-response-prev {
  left: 25px;
}

.swiper-response-next {
  right: 25px;
}

.swiper-pagination {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 5;
}

@media(max-width: 1500px) {
  .fans-section-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-height: calc(2 * 130px + 10px); 
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
  }
  .fans-section-images img {
    flex: 0 0 102px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }
}

@media(max-width: 1150px) {
  .header_content {
    flex-direction: column;
    align-items: center;
  }
  .header_content-left {
    padding: 0 28px;
  }
  .loungewear-rating-phone,
  .loungewear-buttons-phone {
    display: block;
  }
  .header_content-title {
    display: none;
  }
  .header_content-title-mobile {
    display: block;
  }
  .header_content-left {
    order: 2;
  }
  .header_content-right {
    order: 1;
    margin: 15px 0 22px 0;
  }
  .header-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .header_logo {
    text-align: center;
    margin: 14px 0;
  }
  .step_cards {
    gap: 10px;
  }
  .loungewear {
    flex-direction: column;
    align-items: center;
  }
  .loungewear_pride-right {
    order: 1;
  }
  .loungewear-left {
    order: 2;
  }
  .loungewear-title {
    display: none;
  }
  .loungewear-title-mobile {
    display: block;
  }
  .loungewear_list-item {
    flex-direction: column;
    align-items: center;
    padding: 32px 32px;
  }
  .loungewear_item-textcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .loungewear_item-title {
    text-align: center;
  }
  .loungewear_item-text{
    text-align: center;
    max-width: 244px;
  }
  .loungewear_item-icon {
    margin: 0;
  }
}

@media(max-width: 1080px) {
  .step_cards {
    display: none;
  }
  .slider-for-phone {
    display: block;
    margin: 23px 0 41px 0;
  }
}

@media(max-width: 1200px) {
  .companies_list {
    gap: 40px;
  }
}

@media(max-width: 1140px) {
  .self-improvement {
    flex-direction: column;
    align-items: center;
  }
  .self-improvement-title-mobile {
    display: block;
  }
  .self-improvement-title {
    display: none;
  }
  .self-improvement-text {
    min-width: 335px;
  }
  .self-improvement-button {
    display: none;
  }
  .self-improvement-content {
    margin: 0 0 54px 0;
  }
  .self-improvement-images {
    margin: 45px 0;
  }
  .self-improvement-images .top-image {
    left: -52px;
  }
  .self-improvement-images .bottom-image {
    right: -52px;
    clip-path: inset(20px 0 20px 0);
  }
  .self-improvement-images .main-image {
    clip-path: inset(80px 10px 120px 10px);
  }
}

@media(max-width: 1025px) {
  .questions-right-block {
    display: none;
  }
  .questions {
    flex-direction: column;
    align-items: center;
  }
  .question-title {
    text-align: center;
  }
  .questions-buttons-phone {
    display: flex;
    margin-top: 55px;
  }
  .rating-phone {
    display: flex;
    margin-bottom: 54px;
  }
  .loungewear .rating-phone{
    margin-bottom: 0;
  }
  .questions-section {
    margin: 0;
  }
}

@media(max-width: 860px) {
  .header_content {
    flex-direction: column;
    align-items: center;
  }
  .header_content-title {
    display: none;
  }
  .header_content-title-mobile {
    display: block;
  }
  .header_content-left {
    order: 2;
  }
  .header_content-right {
    order: 1;
    margin: 15px 0 22px 0;
  }
  .header-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .header_logo {
    text-align: center;
    margin: 14px 0;
  }
  .header-announcement-text span:nth-child(1),
  .header-announcement-text span:nth-child(3) {
    display: none;
  }
  .header-announcement-text span:nth-child(2)::after {
    content: "";
    padding: 0;
    color: #565656;
    text-align: center;
    font-family: "Suisse Int'l";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.88px;
  }
}

@media(max-width: 800px) {
  .companies_list {
    gap: 20px;
  }
}

@media(max-width: 720px) {
  .advantages-cards {
    display: none;
  }
  .impact-cards {
    flex-direction: column;
  }
  .impact-card:nth-child(2) {
    border-left: none;
    border-right: none;
    border-top: 1px solid rgba(196, 196, 196, 0.50);
    border-bottom: 1px solid rgba(196, 196, 196, 0.50);
  }
  .impact-card {
    padding: 23px 0;
  }
}

@media(max-width: 700px) {
  .companies_list {
    display: none;
  }
  .companies_list-container {
    display: flex;
  }
  .questions-left-block {
    padding: 0 24px;
  }
}

@media(max-width: 650px) {
  .my-swiper {
    width: 303px;
  }
  .step_cards-swiper {
    width: 288px;
  }
  .card.swiper-slide {
    height: 288px;
  }
  .self-improvement-content {
    max-width: 335px;
  }
  .self-improvement-images .main-image {
    max-width: 305px;
    clip-path: inset(60px 10px 60px 10px);
  }
  .self-improvement-images .bottom-image,
  .self-improvement-images .top-image {
    max-width: 102px;
  }
  .self-improvement-images .top-image {
    left: -30px;
  }
  .self-improvement-images .bottom-image {
    right: -30px;
  }
}

@media(max-width: 600px) {
  .swiper-gallery .swiper-slide {
    height: 453px;
  }
  .swiper-gallery {
    width: 303px;
  }
  .custom-swiper-gallery-container {
    padding: 0 15px;
  }
  .swiper-slide .response-card {
    width: 230px;
  }
  .fans-section-title {
    max-width: 631px;
    padding: 0 23px;
    font-size: 26px;
  }
}